<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830039827337-3muafh9hmf54l8sh5s716spgoscpqbc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830039827337-3muafh9hmf54l8sh5s716spgoscpqbc9</string>
	<key>API_KEY</key>
	<string>AIzaSyAZEUH5FnQPIlFFoQS-jicf6Gm5xaKFS9E</string>
	<key>GCM_SENDER_ID</key>
	<string>830039827337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calender</string>
	<key>PROJECT_ID</key>
	<string>calendar-30465</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-30465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830039827337:ios:10d68fe99340ab58bcf758</string>
</dict>
</plist>